//- Example usage
//- +btn('Button-link')(href='/') - There is href - this is a link
//- +btn('Button-input', '', true) - There is isInput flag - this is a input
//- +btn('Button', 'success') - No href and isInput - this is a button

mixin btn(text, mods, isInput)
  //- Params
  //- text    {string} - button text
  //- mods    {string} - list of modifiers
  //- isInput {bool}   - «This is a input» flag
  -
    var allMods = '';

    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' btn_' + modsList[i].trim();
      }
    }

  - var btnClass = 'btn inline-block box-border max-w-full m-0 overflow-hidden leading-normal text-center no-underline align-middle bg-none cursor-pointer duration-[225ms] select-none touch-manipulation disabled_cursor-not-allowed disabled_opacity-80 disabled_pointer-events-none';

  //- passed href, this is a link
  if (attributes.href)
    a(class=btnClass + allMods)&attributes(attributes)!= text
      block

  //- else if passes isInput as true, this is a input
  else if (typeof(isInput) !== 'undefined' && isInput)
    input(class=btnClass + allMods, value=text, type='button')&attributes(attributes)

  //- else this is a button
  else
    button(class=btnClass + allMods)&attributes(attributes)!= text
      block
