meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')

//- Title
title= title

meta(name='format-detection', content='telephone=no')
meta(name='format-detection', content='date=no')
meta(name='format-detection', content='address=no')
meta(name='format-detection', content='email=no')

meta(name='mobile-web-app-capable', content='yes')
meta(name='application-name', content=title)

//- iOS: Add to Home Screen
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
meta(name='apple-mobile-web-app-title', content=title)

//- Styles
block links
  link(rel='stylesheet', href='styles/main.css')
