mixin icon
  -
    const name = attributes.name
    const type = attributes.type

    delete attributes.name
    delete attributes.type

  if (type === 'mono')
    svg.icon(role='img')&attributes(attributes)
      use(xlink:href=`assets/images/sprites/sprite-mono.svg#${name}`)
  else
    svg.icon(role='img')&attributes(attributes)
      use(xlink:href=`assets/images/sprites/sprite-multi.svg#${name}`)
