// Main-navigation styles
$nav-background: $gray-100;
$nav-text-color: $gray-900;
$nav-text-color-active: #1d4ed8;
$nav-text-color-hover: #1d4ed8;
$nav-font-size: 16px;
$nav-opened-text-color: $gray-900;
$nav-opened-font-size: 18px;

// Burger styles
$burger-color: $gray-900;
$burger-color-active: $gray-900;
